# Join and Append Data Frames

Student-DB Extension: Extend your university database data frame from the previous exercise

Start with the following data frame from the last exercise

In [1]:
#PANDAS Data Frames
import pandas as pd

print("The original data frame:")
list_2dim = [[100112,"Jim Collins","Wifo",4],[120095,"Martin Schrader","Wifo",7],[180331,"Achim Zahn","OMM",1]]
df = pd.DataFrame(list_2dim,index=['ID1','ID2','ID3'],columns=['ID','Name','FoS','Semesters'])
df

The original data frame:

         ID             Name   FoS  Semesters
ID1  100112      Jim Collins  Wifo          4
ID2  120095  Martin Schrader  Wifo          7
ID3  180331       Achim Zahn   OMM          1

Create a new data frame storing ID and age of the three students

Set index of df to the attribute 'ID': df=df.set_index('ID')

Similarily set index of new data frame to the attribute 'ID

Join new data frame with the first one and show results!

Use the following dictionary to store an additional student

Transform the dictionary to a series and name your series object. The name is the "ID" of the student in this case

Append the series object tp your joined data frame (using concat)

In [ ]:
dict_obj = {'Name': 'Klaus Mayer', 'FoS': 'Wifo', 'Semesters': 2, 'Age': 20}

Append data frame by dictionary

1. Transform dictionary to data frame "df_dict" using method from_dict
2. Add index to df_dict ("ID"-values of the students)
3. Append original data frame by df_dict (using concat)

In [ ]:
data = {'Name': ['John Doe', 'Henry Miller'], 'FoS': ['IW', 'OMM'],'Semesters': [3, 4], 'Age': [23, 24]}

#Transform dictionary to data frame "df_dict" using method from_dict


#Add index to df_dict ("ID"-values of the students)


#Append original data frame by df_dict