In [1]:
#PANDAS Data Frames
import pandas as pd

#to generate random numbers
from numpy.random import randn

In [2]:
#create data frame size 5*5 containing random numbers
df = pd.DataFrame(randn(5,5),index=['ID1','ID2','ID3','ID4','ID5'],columns=['A1','A2','A3','A4','A5'])
df

           A1        A2        A3        A4        A5
ID1  1.447121  2.389979 -0.657861 -0.687232 -0.382206
ID2 -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4 -1.120629  0.456590  1.084644  1.132662  1.201809
ID5  2.180827 -0.632230  0.807088 -0.601486  0.100386

# Change column and index names

In [3]:
#print columns and index
print(str(df.columns))
print(str(df.index))

Index(['A1', 'A2', 'A3', 'A4', 'A5'], dtype='object')
Index(['ID1', 'ID2', 'ID3', 'ID4', 'ID5'], dtype='object')

In [4]:
#change columns
df.columns=['B1', 'B2', 'B3', 'B4', 'B5']
df

           B1        B2        B3        B4        B5
ID1  1.447121  2.389979 -0.657861 -0.687232 -0.382206
ID2 -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4 -1.120629  0.456590  1.084644  1.132662  1.201809
ID5  2.180827 -0.632230  0.807088 -0.601486  0.100386

In [5]:
#change index
df.index=['First-ID', 'ID2', 'ID3', 'ID4', 'ID5']
#change columns
df.columns=['A1', 'A2', 'A3', 'A4', 'B5']
df

                A1        A2        A3        A4        B5
First-ID  1.447121  2.389979 -0.657861 -0.687232 -0.382206
ID2      -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID3      -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4      -1.120629  0.456590  1.084644  1.132662  1.201809
ID5       2.180827 -0.632230  0.807088 -0.601486  0.100386

In [6]:
#Change just one column
df=df.rename(columns = {'B5':'A5'})

#Change just one index
df=df.rename(index = {'First-ID':'ID1'})
df

           A1        A2        A3        A4        A5
ID1  1.447121  2.389979 -0.657861 -0.687232 -0.382206
ID2 -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4 -1.120629  0.456590  1.084644  1.132662  1.201809
ID5  2.180827 -0.632230  0.807088 -0.601486  0.100386

# Selection and Slicing

In [7]:
#Select values < 0
df_le1=df[df<0]
df_le1
#NaN=Not a Number

           A1        A2        A3        A4        A5
ID1       NaN       NaN -0.657861 -0.687232 -0.382206
ID2 -0.251307       NaN -0.331120 -0.506113 -0.897829
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4 -1.120629       NaN       NaN       NaN       NaN
ID5       NaN -0.632230       NaN -0.601486       NaN

In [8]:
#Drop NaN/missing values
df_le1.dropna()

           A1        A2        A3        A4        A5
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827

In [9]:
df

           A1        A2        A3        A4        A5
ID1  1.447121  2.389979 -0.657861 -0.687232 -0.382206
ID2 -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID4 -1.120629  0.456590  1.084644  1.132662  1.201809
ID5  2.180827 -0.632230  0.807088 -0.601486  0.100386

In [10]:
# slice all rows, some columns 
df.loc[:, ['A2', 'A4']]

           A2        A4
ID1  2.389979 -0.687232
ID2  2.277559 -0.506113
ID3 -1.048865 -0.889378
ID4  0.456590  1.132662
ID5 -0.632230 -0.601486

In [11]:
# slice all columns, some rows
df.loc[['ID2', 'ID4'],:]

           A1        A2        A3        A4        A5
ID2 -0.251307  2.277559 -0.331120 -0.506113 -0.897829
ID4 -1.120629  0.456590  1.084644  1.132662  1.201809

In [12]:
# slicing by index: iloc
#first column and row: index = 0
#last index in range can equal, but not exceed number of rows

df.iloc[0:3, 1:4]

           A2        A3        A4
ID1  2.389979 -0.657861 -0.687232
ID2  2.277559 -0.331120 -0.506113
ID3 -1.048865 -1.295918 -0.889378

In [13]:
#last single index in range needs to be smaller than number of rows
#this works
print(df.iloc[4, 0:4])

#this does not work
df.iloc[5, 0:4]

A1    2.180827
A2   -0.632230
A3    0.807088
A4   -0.601486
Name: ID5, dtype: float64

IndexError: single positional indexer is out-of-bounds

In [14]:
# slice all columns, some rows
df.iloc[[2,4], :]

           A1        A2        A3        A4        A5
ID3 -0.213314 -1.048865 -1.295918 -0.889378 -0.111827
ID5  2.180827 -0.632230  0.807088 -0.601486  0.100386

In [ ]:
# slice all rows, some columns
df.iloc[:, 2:4]

           A3        A4
ID1  0.499327 -0.179407
ID2  0.777746  0.642142
ID3  2.364702 -0.528763
ID4 -1.495764  1.287835
ID5 -0.616798  0.712899

In [ ]:
# slice with range closed to one side
df.iloc[:, :3]

           A1        A2        A3
ID1 -1.840842  0.133535  0.499327
ID2  0.422325 -2.574990  0.777746
ID3 -0.375776  0.477382  2.364702
ID4  2.036815 -1.152119 -1.495764
ID5  0.587797  0.021853 -0.616798

In [ ]:
#Combining positional and label-based indexing
#Single attribute
df.iloc[0: 3, df.columns.get_loc('A2')]

ID1    0.133535
ID2   -2.574990
ID3    0.477382
Name: A2, dtype: float64

In [ ]:
#Combining positional and label-based indexing
#Multiple attributes
df.iloc[[0, 2], df.columns.get_indexer(['A3', 'A5'])]

           A3        A5
ID1  0.499327  0.538427
ID3  2.364702 -2.690722