# Load, explore and prepare data set

In [22]:
import pandas as pd
import numpy as np

# Download housing dataset from UCI Machine Learning Repository
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/housing/housing.data"
df = pd.read_csv(url, header=None, delim_whitespace=True)
df

/var/folders/97/0jjhtb3j79jfj093mf3zb5vh0000gq/T/ipykernel_91600/2833698926.py:6: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv(url, header=None, delim_whitespace=True)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9

In [23]:
# Add column names to the dataframe
col_names = ["CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS",
             "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]
df.columns = col_names

# Add a nominal index feature
#df["suburb_index"] = range(1, len(df) + 1)

# Add two nominal condition features
df["condition"] = ["good" if i % 2 == 0 else "bad" for i in range(len(df))]
df["age"] = ["old" if i % 3 == 0 else "new" for i in range(len(df))]

df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV,condition,age
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0,good,old
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6,bad,new
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7,good,new
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4,bad,old
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2,good,new
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273.0,21.0,391.99,9.67,22.4,bad,old
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273.0,21.0,396.90,9.08,20.6,good,new
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273.0,21.0,396.90,5.64,23.9,bad,new
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273.0,21.0,393.45,6.48,22.0,good,old
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273.0,21.0,396.90,7.88,11.9,bad,new

In [24]:
#seperate numeric and nominal features
numeric_features = df.select_dtypes(include=[np.number])
nominal_features = df.select_dtypes(include=[object])

#seperate label from numeric features
label = numeric_features.pop("MEDV")

In [25]:
#numeric_features
#nominal_features
label

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

# Feature selection by variance and variation ratio

Numeric features

In [27]:
#min-max normalize numeric features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_features = pd.DataFrame(scaler.fit_transform(numeric_features), columns=numeric_features.columns)
numeric_features.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,0.040544,0.113636,0.391378,0.069170,0.349167,0.521869,0.676364,0.242381,0.371713,0.422208,0.622929,0.898568,0.301409
std,0.096679,0.233225,0.251479,0.253994,0.238431,0.134627,0.289896,0.191482,0.378576,0.321636,0.230313,0.230205,0.197049
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000851,0.000000,0.173387,0.000000,0.131687,0.445392,0.433831,0.088259,0.130435,0.175573,0.510638,0.945730,0.144040
50%,0.002812,0.000000,0.338343,0.000000,0.314815,0.507281,0.768280,0.188949,0.173913,0.272901,0.686170,0.986232,0.265728
75%,0.041258,0.125000,0.646628,0.000000,0.491770,0.586798,0.938980,0.369088,1.000000,0.914122,0.808511,0.998298,0.420116
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [28]:
#calculate variance of numeric features
numeric_features_var = numeric_features.var()
numeric_features_var

CRIM       0.009347
ZN         0.054394
INDUS      0.063242
CHAS       0.064513
NOX        0.056850
RM         0.018124
AGE        0.084039
DIS        0.036665
RAD        0.143320
TAX        0.103450
PTRATIO    0.053044
B          0.052995
LSTAT      0.038828
dtype: float64

In [7]:
#identify numeric features with low variance
numeric_features_low_var = numeric_features.loc[:, numeric_features.var() < 0.05]
numeric_features_low_var

         CRIM        RM       DIS     LSTAT
0    0.000000  0.577505  0.269203  0.089680
1    0.000236  0.547998  0.348962  0.204470
2    0.000236  0.694386  0.348962  0.063466
3    0.000293  0.658555  0.448545  0.033389
4    0.000705  0.687105  0.448545  0.099338
..        ...       ...       ...       ...
501  0.000633  0.580954  0.122671  0.219095
502  0.000438  0.490324  0.105293  0.202815
503  0.000612  0.654340  0.094381  0.107892
504  0.001161  0.619467  0.114514  0.131071
505  0.000462  0.473079  0.125072  0.169702

[506 rows x 4 columns]

Nominal features

In [29]:
#describe nominal features
nominal_features.describe()

       condition  age
count        506  506
unique         2    2
top         good  new
freq         253  337

In [30]:
#calculate variation ratio for nominal features
#explanation: The value_counts() method counts the number of occurrences of each unique value in the column, 
#and the normalize=True parameter normalizes the counts to represent percentages of the total number of values in the column
nominal_features_var = nominal_features.apply(lambda x: x.value_counts(normalize=True).max(), axis=0)
nominal_features_var_ratio=1-nominal_features_var
nominal_features_var_ratio

condition    0.500000
age          0.333992
dtype: float64

In [10]:
#Alternatively, we could transform the nominal features to numeric ones
nominal_features_one_hot = pd.get_dummies(nominal_features)
nominal_features_one_hot

     condition_bad  condition_good  age_new  age_old
0            False            True    False     True
1             True           False     True    False
2            False            True     True    False
3             True           False    False     True
4            False            True     True    False
..             ...             ...      ...      ...
501           True           False    False     True
502          False            True     True    False
503           True           False     True    False
504          False            True    False     True
505           True           False     True    False

[506 rows x 4 columns]

In [11]:
#and calculate variance for them
nominal_features_one_hot_var = nominal_features_one_hot.var()
nominal_features_one_hot_var

#however these numbers could be misleading - why?

condition_bad     0.250495
condition_good    0.250495
age_new           0.222882
age_old           0.222882
dtype: float64

# Feature selection for numeric features using correlation and colinearity

In [12]:
#caluclate correlation of numeric features with label
numeric_features_corr = numeric_features.corrwith(label)
numeric_features_corr

CRIM      -0.388305
ZN         0.360445
INDUS     -0.483725
CHAS       0.175260
NOX       -0.427321
RM         0.695360
AGE       -0.376955
DIS        0.249929
RAD       -0.381626
TAX       -0.468536
PTRATIO   -0.507787
B          0.333461
LSTAT     -0.737663
dtype: float64

In [13]:
#keep 10 best numeric features
numeric_features = numeric_features[numeric_features_corr.abs().sort_values(ascending=False).index[:10]]
numeric_features_corr = numeric_features.corrwith(label)
numeric_features_corr

LSTAT     -0.737663
RM         0.695360
PTRATIO   -0.507787
INDUS     -0.483725
TAX       -0.468536
NOX       -0.427321
CRIM      -0.388305
RAD       -0.381626
AGE       -0.376955
ZN         0.360445
dtype: float64

In [14]:
#calculate colinearity of remaining numeric features
numeric_features_corr = numeric_features.corr()
# Displaying correlations as a heatmap / correlation matrix
numeric_features_corr.style.background_gradient(cmap ='coolwarm')

In [15]:
#apply a mask to highlight colinearity values > 0.5
numeric_features_corr_strong = (abs(numeric_features_corr) > 0.5)*1
# Displaying correlations as a heatmap / correlation matrix
numeric_features_corr_strong.style.background_gradient(cmap ='coolwarm')

In [31]:
#calculate multicollinearity of numeric features
from statsmodels.stats.outliers_influence import variance_inflation_factor
def calc_vif(df):
    vif = pd.DataFrame()
    vif["features"] = df.columns
    vif["VIF Factor"] = [variance_inflation_factor(df.values, i) for i in range(df.shape[1])]
    return vif
calc_vif(numeric_features)

   features  VIF Factor
0      CRIM    2.098176
1        ZN    2.845295
2     INDUS   13.291853
3      CHAS    1.153803
4       NOX   12.784831
5        RM   16.662011
6       AGE   19.608991
7       DIS    7.977453
8       RAD   14.588185
9       TAX   24.552717
10  PTRATIO   13.341631
11        B   16.012710
12    LSTAT    8.623875

In [ ]:
#remove TAX from numeric features
numeric_features = numeric_features.drop(columns=['TAX'])
#recalculate multicollinearity of numeric features#
calc_vif(numeric_features)

   features  VIF Factor
0      CRIM    2.097944
1        ZN    2.703231
2     INDUS   10.626986
3      CHAS    1.136844
4       NOX   12.696073
5        RM   16.547451
6       AGE   19.587478
7       DIS    7.968822
8       RAD    5.491365
9   PTRATIO   13.240687
10        B   16.006878
11    LSTAT    8.623192

In [33]:
#remove AGE from numeric features
numeric_features = numeric_features.drop(columns=['AGE'])
#recalculate multicollinearity of numeric features
calc_vif(numeric_features)

   features  VIF Factor
0      CRIM    2.097596
1        ZN    2.666802
2     INDUS   10.605199
3      CHAS    1.134275
4       NOX   11.364322
5        RM   13.662477
6       DIS    7.446220
7       RAD    5.431334
8   PTRATIO   12.989883
9         B   15.585780
10    LSTAT    7.088308

In [19]:
#show remaining correlations with label
numeric_features_corr = numeric_features.corrwith(label)
numeric_features_corr

LSTAT     -0.737663
RM         0.695360
PTRATIO   -0.507787
INDUS     -0.483725
NOX       -0.427321
CRIM      -0.388305
RAD       -0.381626
ZN         0.360445
dtype: float64

# Feature selection for nominal features using chi2 test

In [20]:
# perform chi-squared test for nominal features
from scipy.stats import chi2_contingency

def calc_chi2(df):
    #df contains the two variables to be tested
    #----------step 2: Create a cross tab which is a contigency table
    data_cont=pd.crosstab(df.iloc[:,0], df.iloc[:,1])
    stat, p, dof, expected = chi2_contingency(data_cont)
    alpha = 0.05
    print("p value is " + str(p))
    if p <= alpha:
        print('Dependent (reject H0)')
    else:
        print('Independent (H0 holds true)')

#check independence of features to each other
calc_chi2(nominal_features)

p value is 1.0
Independent (H0 holds true)

In [21]:
#check independence of features to label
nominal_label=pd.DataFrame()
#apply binning to label
nominal_label['label']=pd.cut(label, 2)

#first check label vs. label
nominal_label['label_copy']=pd.cut(label, 2)
print('Check independence of label and label')
calc_chi2(nominal_label.iloc[:,:2])

#check label vs. condition
nominal_label['condition']=nominal_features.iloc[:,0]
print('\nCheck independence of "condition" and label')
calc_chi2(nominal_label.loc[:,['label','condition']])

#check label vs. age
nominal_label['age']=nominal_features.iloc[:,1]
print('\nCheck independence of "age" and label')
calc_chi2(nominal_label.loc[:,['label','age']])

Check independence of label and label
p value is 9.603856468570439e-111
Dependent (reject H0)

Check independence of "condition" and label
p value is 0.32551684657106145
Independent (H0 holds true)

Check independence of "age" and label
p value is 0.6593440303524484
Independent (H0 holds true)